@{
    Layout = "_Layout";
}

<nav>
    <ul>
        <li>
            keywords
        </li>
        <li>
            members
        </li>
        <li>
            settings
        </li>
    </ul>

</nav>

@RenderBody()