@{
    ViewData["Title"] = "AccountSettings";
}

<div class="text-center">
    <h1 class="display-4">Account Settings</h1>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Projects</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Programelo</td>
            <td>Admin</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Automehanicar</td>
            <td>Edit</td>
        </tr>
    </tbody>
</table>