@model KeywordDetailViewModel
@using PositionTracking.Data
@using PositionTracking.Extensions
@{

    Layout = "_ProjectLayout";
    ViewData["Title"] = "KeywordsDetail";

}

<input id="getRankUrl" type="hidden" value="@Model.KeywordId" />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>