@model KeywordDetailViewModel
@using PositionTracking.Data
@using PositionTracking.Extensions
@{

    Layout = "_ProjectLayout";
    ViewData["Title"] = Model.Title;

}

<input id="getRankUrl" type="hidden" value="@Model.KeywordId" />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <canvas id="myChart" width="400" height="400"></canvas>
</div>



