@model KeywordsViewModel
@{
    Layout = "_ProjectLayout";
    ViewData["Title"] = "ProjectSettings";
}

<div class="text-center">
    <h1 class="display-4">{Project} Settings</h1>
</div>

<br>

<h2> {Project name}</h2>
<div class="projectName">
    <h2> Change project name </h2>
    <form> <input size="30" type="text" /> </form>
    <button> Update Project Name </button>

    <br>

    <h2> Change Domain </h2>
    <form> <input size="30" type="text" /> <br /> </form>
    <button> Update Domain </button>
</div>

<br>

<div class="deleteProject">

    <h3>Deleting an account has the following effects: ...</h3>
    <button> Delete Project </button>
</div>