@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
</div>



<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Project Name</th>
            <th scope="col">Number of Keywords</th>
            <th scope="col">Rating Change</th>
            <th scope="col">Users Role</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Programelo</td>
            <td>3</td>
            <td>mdo</td>
            <td>Admin</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>MC2</td>
            <td>12</td>
            <td>fat</td>
            <td>Edit</td>
        </tr>
    </tbody>
</table>