@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
</div>



<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Project Name</th>
            <th scope="col">Number of Keywords</th>
            <th scope="col">Rating Change</th>
            <th scope="col">Users Role</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>